@import url('https://fonts.googleapis.com/css?family=Teko');
@import url('https://fonts.googleapis.com/css?family=K2D:800i');

html, 
body {
  height: 100%;
  margin:0px; 
  padding:0px;
}

body{
	background-image: url("../images/galaxy.jpg");
	background-size: auto;
	background-repeat: no-repeat;
}

.nav-link{
	margin: 20px;
}

.navbar a{
	font-size: 20px;
	transition: 300ms;
	color: white;
}

.navbar a:hover{
	border-bottom: 2px solid #ffffffa6;
	text-decoration: none;
	color: white;
}

.profile{
  background-image: url(../images/profile.jpg);
  width: 110px;
  height: 110px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: auto;
  border-radius: 100%;
  border: 2px solid white;
}

.header{
	margin: auto;
  width: 640px;
  height: 210px; 
  border-radius: 40px 40px 0px 0px;
  background-image: linear-gradient(to bottom right, #ff000038, rgba(0, 123, 255, 0.18));
}

.space{
	height: 20px;
}

.name{
	color: white;
}

.space .fa-bars{
	font-size: 30px;
  left: 20px;
  top: 10px;
  color: white;
  position: relative;
  transition: 200ms;
}

.MenuHamb{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.58);
  list-style: none;
  padding: 0px;
  position: absolute;
  top: 26px;
  display: none;
}

.MenuHamb a{
	font-size: 19px;
	color: white;
	padding: 10px 20px;
  display: list-item;
  font-family: 'Teko';
  width: 130px;
}

.MenuHamb i{
	color: white;
	margin-right: 10px;
}

.MenuHamb a:hover{
	text-decoration: none;
	color: white;
	background: #ff000042;
	border-radius: 5px;
}
.space .fa-bars:hover{
	color: #ff0000c9;
}

.fa-bars:hover .MenuHamb{
	display: block;
}

footer{
	width: 100%;
  height: 80px;
  background: linear-gradient(to bottom,#00000012, #000000cc);
  bottom: 0px;
  position: relative;
  transition: 200ms;
}

footer:hover{
  background: #000000cf;
}

.footerText{
  float: right;
  margin: 25px;
  color: white;
  text-align: right;
}

.Projs{
	display: inline-block;
	padding: 30px;
	background: #ffffff3d;
	border-radius: 30px;
}

.LinkToProj{
	text-align: center;
  margin: 40px 0px;
  display: inline-block;
}

#btn1{
	background-image: url("../images/projlink1.jpg");
}

#btn2{
	background-image: url("../images/projlink2.jpg");
}

.btn{
	width: 280px;
  height: 160px;
  background-size: 100%;
  background-repeat: no-repeat;
}

.btn:hover{
  box-sizing: content-box;
}

.btn content{
  position: relative;
  top: 30px;
  left: 60px;
  font-size: 29px;
  font-family: 'Teko';
  color: black;
  font-weight: bold;
}

.Fade{
	position: relative;
  width: 280px;
  height: 50px;
  top: 76px;
  right: 12px;
  background: linear-gradient(to bottom right,#ffffff00, #ffffff63);
  border-radius: 6px;
}

.AllProj{
	display: inline-block;
}

.ProjTitle{
	font-size: 30px;
	color: white;
	font-family: 'K2D';
}









@media screen and (max-width: 762px){
	body{
		background-image: url("../images/galaxyMobile.jpg");
	}

	.header{
		width: 100%;
	}

	.navbar a{
		margin: 0px;
		padding: 0px;
	}

	.MenuHamb a{
		font-size: 25px;
	}

	.MenuHamb i{
		display: none;
	}

	.Projs{
		display: block;
		margin: 70px 0px;
	}

}