<!DOCTYPE html>
<html>
<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>Portfolio</title>

	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>
	<div class="header col-lg-12 col-xs-12">
		<ul class="HeadList">
			<li class="col-lg-3 col-xs-3"><a href="">testea</a></li>
			<li class="col-lg-3 col-xs-3"><a href="">testeb</a></li>
			<li class="col-lg-3 col-xs-3"><a href="">testec</a></li>
			<li class="col-lg-3 col-xs-3"><a href="">tested</a></li>
		</ul>
	</div>
</body>

</html>